body {
	font-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.CinemaRoot {
	margin:auto;
	display: flex;
}
.screen
{
	background-color: #AAAAAA;
	text-align: center;
	font-weight: bold;
	color: white;
	padding-top: 0.1875em;
	padding-bottom: 0.1875em;
	margin: auto;
	margin-bottom: 2em;
}

.seat
{
	
	/*background-color: #3355FF;*/
	width: 4.16vw;
	height: 4.16vw;
	border-radius: 0.1em;
	float: left;
	margin: 0.26vw;
	color: white;
	text-align: center;
	font-size: 3.33vw;
}

.seat:hover 
{
	cursor: pointer;
}

.row
{
	clear: both;
}

.legend
{
	clear: both;
	margin-top: 1em;
}

.legendTitle
{
	text-align: center;
	margin-bottom: 0.5em;
	font-weight: bold;
}

.legendText
{
	float:left;
	margin-left: 0.5em;
	font-size: 13px;
}

.legendSeat
{
		width: 13px;
		height: 13px;
		background-color: blue;
		float: left;
}

.legendRow 
{
	clear: both;
	margin-left: 1em;
}

.legendFree
{
	background-color: #3355FF;
}

.legendOccupied
{
	background-color: red;
}

.legendChosen 
{
	background-color: green;
}

#rowsContainer
{
	margin: auto;
}

.rowsInnerContainer
{
	display: table;
	margin: auto;
}

@media only screen and (min-width: 300px) {
    .seat
{
	font-size: 10px;
}
	
}


@media only screen and (max-width: 600px) {
    .screen {
		width: 70%;
    }
	
}

@media only screen and (min-width: 600px) {
    .screen {
		width: 60%;
	}
	
	.seat
	{
		width: 25px;
		height: 25px;
		margin: 1.6px;
		
	}
	
	#rowsContainer
	{
		width: 28.2em;
	}
	
	.legendRow
	{
		float: left;
		clear: none;
		width: 33.33%;
		margin-left: 0;
	} 
	
	.innerLegendRow
	{
		display: table;
		margin: 0 auto;
	}

	.legendText
	{
		font-size: 15px;
	}

	.legendSeat
	{
		width: 15px;
		height: 15px;
	}
	
	.legend
	{
		margin-top: 2em;
	}
	
}

@media only screen and (min-width: 768px) {
    .screen {
		width: 50%;
	}
	
	.legendRows
	{
		width: 70%;
		margin: auto;
	}
	
	.legendText
	{

		font-size: 16px;
	}

	.legendSeat
	{
		width: 16px;
		height: 16px;
	}
	
	
} 

@media only screen and (min-width: 992px) {
    .screen {
		width: 38%;
	}
} 


@media only screen and (min-width: 1200px) {
    .screen {
		width: 30%;
	}
}