@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#logo{
  margin-right: 30%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

/*=========NAV==============================*/
.navbar{
  display: flex;
  width: 100%;
  background-color: #1a70ad;
  color: white;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 5%;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: white;
}
.navbar > ul > li > a:visited{
  color:white;
}

.navbar .navList .activeNav{
  color:#7bbded;
}
.navbar > ul > li > a:hover{
  color:black;
}

li{
  display: inline-block;
  padding: 20px 30px;
}

.wrapper{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  color: black;
}
.section-upcoming{
  width: 50%;
  height: auto;
  padding-top: 5%;
}
.section-live{
  width: 100%;
  height: auto;
  padding-top: 5%;
  flex-wrap: nowrap;
}

.image-container{
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  padding-top: 5%;
}

 #modal-bg-image{
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: .4;
  }
  .modal-content, .modal-close, .image-column{
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .fa-long-arrow-alt-left{
    font-size: 50px;
  }
.image-container > a {
  outline: none;
}
.image-container > a > img {
  padding: 15px;
}
.image-container > a:hover img {
  transform: scale(1.07);
}
.image-container > a > img {
  transition: transform .3s cubic-bezier(.25,.46,.45,.94);
}
.movies-live-list{
  /* width: 80%; */
  display: inline-block;
  /* vertical-align: middle; */
  /* border-bottom: 2px solid #227093; */
  margin: 10px;
}

.movie-desc {
  float: right;
  width: 250px;
  margin: 40px 20% 0 0;
  padding-left: 5%;
  text-align: left;
  border-left: 1px solid #227093;
}
li > img {
  /* float: left; */
}
.sections-title{
  padding-left: 38%;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
}

/*---------MOVIE DETAILS TYPING -----------------------*/
.movie-title{
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.movie-details{
  margin-top: 20px;
  width: 80%;
  font-size: 16px;
  padding: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
  /* border: 1px solid black; */
  border-radius: 3px;
  background: rgba(255,255,255, .75);
  min-width: 350px;
}
.movie-genres{
  position: relative;
  margin: 0 auto;
  height: auto;
}

.movie-genre-item{
  padding: 4px;
  margin: 20px;
  border: 2px solid #249dc5;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
  box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.movie-genre-item:hover{
  background: #249dc5;
  color: white;
  border: 2px solid #249dc5;
}
.titles{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-left: 5px;
}