@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#logo{
  margin-right: 30%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.navbar{
  display: flex;
  width: 100%;
  background-color: #48466D;
  color: white;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

li{
  display: inline-block;
  padding: 20px 30px;
}

.wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #2c2c54;
  color: white;
}
.section-upcoming{
  width: 50%;
  height: auto;
  padding-top: 5%;
}
.section-live{
  width: 50%;
  height: auto;
  padding-top: 5%;
}
.movies-live-list{
  width: 80%;
  vertical-align: middle;
  border-bottom: 2px solid #227093;
  margin: 10px;
}

.movie-desc {
  float: right;
  width: 250px;
  margin: 40px 20% 0 0;
  padding-left: 5%;
  text-align: left;
  border-left: 1px solid #227093;
}
li > img {
  float: left;
}
.sections-title{
  margin: 0 30%;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
}