.seat
{
	width: 4.16vw;
	height: 4.16vw;
	border-radius: 0.1em;
	float: left;
	margin: 0.26vw;
	color: white;
	text-align: center;
	font-size: 3.33vw;
}

.seat:hover 
{
	cursor: pointer;
}

@media only screen and (min-width: 300px) {
    .seat
{
	font-size: 10px;
}
	
}

@media only screen and (min-width: 600px) {	
	.seat
	{
		width: 25px;
		height: 25px;
		margin: 1.6px;
		
	}
}